@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: verdana, Helvetica, sans-serif;
  font-size: 0.9375rem; /* ~15px - balances Verdana's large default sizing */
  letter-spacing: -0.02em; /* brings individual characters closer together */
  line-height: 1.4; /* reduces vertical gap between lines */
}

@layer utilities {

  .prose hr {
    margin-top: 2.5rem;       /* Default was ~3rem (48px) */
    margin-bottom: 2rem;    /* Default was ~3rem (48px) */
    border-color: var(--tw-prose-hr); /* Keeps default line color */
  }

  .prose title,
  .prose h1,
  .prose h2, 
  .prose h3, 
  .prose h4 {
    margin-top: 1rem;    /* Reduced top gap between sections */
    margin-bottom: 1rem;   /* Brings immediate body text closer */
  }
  /* Tighten list item spacing globally inside prose */
  .prose ul > li {
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
    font-size: 0.9rem;
  }
  
  /* Style table borders and cell padding */
  .prose table {
    width: 100%;
    margin-top: 1rem;
    margin-bottom: 1rem;
    overflow-x: auto;
  }
  
  
  .prose th, .prose td {
    padding: .7rem 0.75rem;
    border: 1px solid var(--tw-prose-borders);
  }

  .prose {
    letter-spacing: -0.019em;
    line-height: 1.5;
  }
  
  .prose p, .prose li {
    margin-top: 0.35em;
    margin-bottom: 0.35em;
  }
}